.pole {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: inline-block;
  background:rgb(0, 0, 0);
}

#startButton {
  display: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#plocha {
  margin: auto;
  border: 0px solid rgb(0, 0, 0);
  padding: 0px ;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}

.had {
  background: lime;
}

.zradlo {
  background: red;
}



.had.zradlo {
  background: orange;
}


